.git
.github
.husky
.codex
.vscode
.idea

target
node_modules

.env
.env.development
.env.staging
.env.production
config/local.toml

Dockerfile
compose.yaml

*.log
*.tmp
bash.exe.stackdump
NOTES.md
k6-traffic-simulation.js
trash
